
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');

.cont{
    margin-left:35%;
    margin-top: 100px;
    background-color:orchid; 
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}
.form{
    margin: 23px;
    padding: 23px;
    
}

.b{
    display: flex;
    margin: 23px;
    margin-left: 35%;
    padding: 10px;
    font-size: medium;

}

.dash{
   
  height: 100px; 
   flex-grow: 10px;
   
}
 .header{
    color: red;
    font-size: 50px;
    font-family: "sans-serif","Montserrat";
    font-size: 5vw;
    
    z-index: 100;
    margin-top: 10px;

 }
 .header:hover{
    color:white;
    
 }

 .app{
    min-height: 100vh;
    background-color: rgb(213, 201, 211);
    color: white;
    padding-top: 130px;
    padding-bottom: 70px;

 }
 @media(max-width:700px){
  .app {
    padding: top 70px;  
 }
}
   

.icon{
size: 50px;
}
.line.Button.NavLink{
    text-decoration: none;
    color: burlywood;
}

img{
    height: 9cm;
    width: 8cm;
    margin-top:2%;
    padding: 4px;
    


}
.bg{
    height: 100%;
    background-color:rgb(157, 179, 245);
    display:flex;
    flex-wrap: wrap;
    width:85%;
    margin:4% 7.5% 3px 7.5% ;
    
    
    /* margin-left: %; */

  
    
}
.content{
display:block;
padding:10px;



}
.content:hover{
    transform: scale(1.1);
    cursor: pointer;
   
  
    }
.imgg{
    border-radius: 10%;

}